<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>PreHome</title>
   </head>
   <body>
      <h1>このページは機能を追加していく一時的なものです。</h1>

      <form id="select_room" method="GET" action="/UserHome">
         <h2>ユーザーの入り口</h2>
         <input type="submit" value="ユーザー">
      </form>

      <form id="select_room" method="GET" action="/PatientChat">
         <h2>専門家の入り口</h2>
         <input type="submit" value=”専門家”>
      </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script>

      </script>

   </body>
<html>
