<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>Recomend Clinic</title>
   </head>
   <body>
      <h1>優良治療院紹介</h1>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script>

      </script>

   </body>
<html>
