<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>TherapistHome</title>
   </head>
   <body>
      <h1>専門家用ホーム画面</h1>

      <form>
         <ul id="therapist_chatlogs"></ul>
         <form id='send-form'>
            <input id='send-message' />
            <input id='send-button' type='submit' value='Send' />
         </form>
         <p><input type="button" onclick='' value="「専門家とのチャット」を終了する"</p>
      </form>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script>
      </script>
   </body>
<html>
